services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432'

  redis:
      image: 'redis:8.2.4-alpine'
      restart: always
      ports:
        - "6379:6379"
      volumes:
        - cache:/data
volumes:
  cache:
    driver: local
